[Desktop Entry]
Name=DayKountdown
Name[ca]=CompteEnrere
Name[cs]=DayKountdown
Name[es]=DayKountdown
Name[nl]=DayKountdown
Name[pt]=DayKountdown
Name[sl]=DayKountdown
Name[sv]=Dagnedräkning
Name[uk]=DayKountdown
Name[x-test]=xxDayKountdownxx
GenericName=Date Countdown
GenericName[ca]=Compte enrere de la data
GenericName[cs]=Odpočet do data
GenericName[es]=Cuenta atrás de fechas
GenericName[nl]=Datum aftellen
GenericName[pt]=Contagem Descendente de Datas
GenericName[sl]=Odštevalnik do datuma
GenericName[sv]=Datumnedräkning
GenericName[uk]=Відлік до дати
GenericName[x-test]=xxDate Countdownxx
Comment=A simple date countdown app
Comment[ca]=Una aplicació senzilla de compte enrere de la data
Comment[cs]=Jednoduchá aplikace s odpočtem dní
Comment[es]=Sencilla aplicación de cuenta atrás de fechas
Comment[nl]=Een eenvoudige toepassing voor aftellen van datum
Comment[pt]=Uma aplicação simples para contagens decrescentes de datas
Comment[sl]=Preprosta aplikacija odštevanja do datuma
Comment[sv]=Ett enkelt program för datumnedräkning
Comment[uk]=Проста програма для відліку часу до певної дати
Comment[x-test]=xxA simple date countdown appxx
Exec=daykountdown
Terminal=false
Icon=org.kde.daykountdown
Type=Application
Categories=Office;
