[Desktop Entry]
Name=DayKountdown
Name[ca]=CompteEnrere
Name[ca@valencia]=CompteEnrere
Name[cs]=DayKountdown
Name[de]=DayKountdown
Name[en_GB]=DayKountdown
Name[es]=DayKountdown
Name[eu]=DayKountdown
Name[fi]=DayKountdown
Name[fr]=DayKountdown
Name[it]=DayKountdown
Name[ko]=DayKountdown
Name[nl]=DayKountdown
Name[pa]=ਡੇਅਕਾਊਟਡਾਊਨ
Name[pl]=DayKountdown
Name[pt]=DayKountdown
Name[pt_BR]=DayKountdown
Name[ro]=DayKountdown
Name[sk]=DayKountdown
Name[sl]=DayKountdown
Name[sv]=Dagnedräkning
Name[tr]=DayKountdown
Name[uk]=DayKountdown
Name[x-test]=xxDayKountdownxx
Name[zh_CN]=DayKountdown
GenericName=Date Countdown
GenericName[ca]=Compte enrere de la data
GenericName[ca@valencia]=Compte enrere de la data
GenericName[cs]=Odpočet do data
GenericName[de]=Datum-Countdown
GenericName[en_GB]=Date Countdown
GenericName[es]=Cuenta atrás de fechas
GenericName[eu]=Data atzera-zenbatzea
GenericName[fi]=Päivälaskenta
GenericName[fr]=Compte à rebours
GenericName[it]=Conto alla rovescia di date
GenericName[ko]=날짜 카운트다운
GenericName[nl]=Datum aftellen
GenericName[pa]=ਤਾਰੀਖ ਉਲਟੀ ਗਿਣਤੀ
GenericName[pl]=Odliczanie daty
GenericName[pt]=Contagem Descendente de Datas
GenericName[pt_BR]=Contagem regressiva de data
GenericName[ro]=Numărătoare inversă a datei
GenericName[sk]=Odpočítavanie dátumu
GenericName[sl]=Odštevalnik do datuma
GenericName[sv]=Datumnedräkning
GenericName[tr]=Tarih Geri Sayımı
GenericName[uk]=Відлік до дати
GenericName[x-test]=xxDate Countdownxx
GenericName[zh_CN]=日期倒计时
Comment=A simple date countdown app
Comment[ca]=Una aplicació senzilla de compte enrere de la data
Comment[ca@valencia]=Una aplicació senzilla de compte enrere de la data
Comment[cs]=Jednoduchá aplikace s odpočtem dní
Comment[de]=Eine einfache Datum-Countdown-Anwendung
Comment[en_GB]=A simple date countdown app
Comment[es]=Sencilla aplicación de cuenta atrás de fechas
Comment[eu]=Data atzera-zenbatzeko aplikazio xume bat
Comment[fi]=Yksinkertainen päivälähtölaskenta
Comment[fr]=Une application simple de décompte de date
Comment[it]=Semplice programma per il conto alla rovescia di date
Comment[ko]=간단한 날짜 카운트다운 앱
Comment[nl]=Een eenvoudige toepassing voor aftellen van datum
Comment[pa]=ਸਰਲ ਤਾਰੀਖ ਉਲਟ ਗਿਣਤੀ ਲਈ ਐਪ
Comment[pl]=Prosty program do odliczania daty
Comment[pt]=Uma aplicação simples para contagens decrescentes de datas
Comment[pt_BR]=Um aplicativo simples de contagem regressiva de datas
Comment[ro]=Aplicație simplă pentru numărătoarea inversă a datei
Comment[sk]=Jednoduchá aplikácia na odpočítavanie dátumu
Comment[sl]=Preprosta aplikacija odštevanja do datuma
Comment[sv]=Ett enkelt program för datumnedräkning
Comment[tr]=Yalın bir tarih geri sayımı uygulaması
Comment[uk]=Проста програма для відліку часу до певної дати
Comment[x-test]=xxA simple date countdown appxx
Comment[zh_CN]=简易日期倒计时应用
Exec=daykountdown
Terminal=false
Icon=org.kde.daykountdown
Type=Application
Categories=Office;
